*{
    padding:0;
    margin:0;
}

body{
    background-image: linear-gradient(to right,#b6975e,#948553,#c9af86);
    font-family: Acme ;
}

header{
    background:linear-gradient(to right,#084518,#226b34,#a2d950);
    height: 90px;
    width: 100%;
    position:relative;
    display:flexbox;
    border-radius: 1px;
    align-items: center;
    margin-top:0;
    justify-content: space-between;
}

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu{
    font-size: 3.5em;
    float: right;
    margin-top:-10px;
    padding: 0px;  
    display: inline;
}

.menu a{
    text-decoration: none;
    color:#180f03;
    padding: 30px;
    font-size:x-large;
    position:relative; 
}

.menu a::after{
    content:"";
    width:0%;
    height: 3px;
    background-color: #180f03;
    position: absolute;
    left: 0;
    bottom: 20px;
    transition:0.2s
}

.menu a:hover::after{
    width: 100%;
}

.imagemheader{
    margin-left:2%;
    padding:5px;
    float:left;
    position:relative;
    height: 160%;
    top: -28px;
    display:flex;
}

.text{
    font-size: 1.3em;
}

.title{
    color:#084518;
}

.container{
    width: 155vw;
    height: auto;
    margin-top: 100px;
    font-size: 1.3em;
    color: #221c0e;
}

#carousel{
    width: 50vh;
    display:flex;
    margin-top: 100px;
    margin: 10px;
    float: left;
}

#img-right{
    padding: 20px;
    float:right;
    height: 50vh;
    display:flex;
}

@media (max-width:848px){
    .imagemheader{
        height: 70%;
        top: 10px;
    }

    .menu a{
        font-size:0.25em;
        padding: 10px;
        display: inline-flex;
    }
}

@media (max-width: 768px){
    #carousel{
        width: 60vw;
        float: none;
    }

    #img-right{
        float:none;
        height: 40vh;
    }
    .container{
        max-width: 95vw;
        border-radius: 15px;
        background:linear-gradient(to right,#7e673d,#70643b);
    }

    .menu {
    flex-direction: column;
    align-items: center;
  }
}