@media (max-width:1510px) {
    #news{
        width:800px;
        height: 700px;
    }
    
    .p-geral{
        font-size: 1.0em;
    }

    .box{
        margin: 20px;
    }

    #img-article{
        width: 350px;
    }
}

@media (max-width:1310px) {
    
    #a-infos{
        height: 500px;
        width: 350px;
        justify-content: center;
    }

    #logo-aside{
        max-width: 200px;
        max-height: 200px;
    }

    #img-article{
        width: 275px;
    }
    
    #news{
        height: 500px;
    }

    .box{
        margin: 0;
    }
      
}

@media (max-width:1259px){
    #news{
      right: 15%;  
    }
    
    #a-infos{
        margin-right:30%;
        float: inline-end;
    }
}