@media (max-width:1510px) {
    #news{
        width:800px;
        height: 700px;
    }
    
    .p-geral{
        font-size: 1.0em;
    }

    .box{
        margin: 20px;
    }

    #img-article{
        width: 350px;
    }
}

@media (max-width:1310px) {
    
    #a-infos{
        height: 500px;
        width: 350px;
        justify-content: center;
    }

    #logo-aside{
        max-width: 200px;
        max-height: 200px;
    }

    #img-article{
        width: 275px;
    }
    
    #news{
        height: 500px;
    }

    .box{
        margin: 0;
    }
      
}

@media (max-width:1259px){
    #news{
      right: 15%;  
    }
    
    #a-infos{
        margin-right:30%;
        float: inline-end;
    }
}

@media (max-width:868px) {
    #imagemheader{
        height: 100%;
        top: 2px;
    }

    #menu a{
        font-size: 0.3em;
        top: -10px;
        padding: 15px;
        margin: 1px;
    }
    
    header{
        height: 10vh;
    }
}

@media (max-width:834px){
    #news{
        width: 600px;
        font-size: 0.8em;

    }
    
    #a-infos{
        margin-right: 24%;
    }
}

@media (max-width:632px){
    #news{
        width:375px;
        right: 20%;
        font-size: 0.5em;
    }

    #imagemheader{
        height: 80%;
        top: 7px;
    }

    #menu a{
        padding: 5px;
        margin: 1px;
    }

    #img-article{
        width: 220px;
    }

    .box{
        height: 220px;
    }

    #a-infos{
        margin-top: 0px;
        width: 300px;
        height: 400px;
        font-size: 0.7em;
    }
}

@media (max-width:429px){
    #menu a{
        padding: 0px;
        font-size: 0.21em;
    }

    #imagem-header{
        height: 15%;
    }

    #a-infos{
        margin-right: 10%;
    }
}